body {
    font-family: arial;
}

.form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 30px 30px;
    border-top: 4px solid #017bab;
    color: white;
}